<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @do_thi.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @do_thi.notes %>
</p>

<p>
  <strong>Due:</strong>
  <%= @do_thi.due %>
</p>

<p>
  <strong>Done:</strong>
  <%= @do_thi.done %>
</p>

<%= link_to 'Edit', edit_do_thi_path(@do_thi) %> |
<%= link_to 'Back', do_this_path %>
